.sidebar-menu {
    padding-left: 1%;
    float: left;
    width: calc(5vw + 200px);
    background: rgba(255, 255, 255, 0.5);
    height: calc(100% - 25px);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar-menu h2 {
    font-size: calc(15px + 0.8vw);
}

a {
    text-decoration: none;
    color: black;
}

.sidebar-menu p {
    font-size: calc(12px + 0.5vw);
}

@media only screen and (orientation: portrait) {
    .sidebar-menu h2 {
        font-size: 1.1em;
    }
}