body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    background-image: url(../images/bg.jpg);
    background-size: cover;
}

html {
    min-height: 100%;
}

.footer {
    position: absolute;
    background: #3C3C3C;
    bottom: 0;
    width: 100%;
    height: 25px;
    color: lightgray;
    font-size: 1em;
    line-height: 20px;
    z-index: 1;
}

@media only screen and (orientation: portrait) {
    .footer {
        font-size: calc(7px + 0.3vw);
    }

    body {
        background-image: url(../images/portrait.jpg);
    }
}