<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <jsp-config>
        <taglib>
            <taglib-uri>wsTag</taglib-uri>
            <taglib-location>/WEB-INF/tld/wsTag.tld</taglib-location>
        </taglib>
    </jsp-config>

    <listener>
        <listener-class>by.maribo.java_beans_handbook.structure.controller.InitializerListener</listener-class>
    </listener>

    <error-page>
        <error-code>404</error-code>
        <location>/pageNotFound</location>
    </error-page>

    <error-page>
        <error-code>503</error-code>
        <location>/serverError</location>
    </error-page>

    <error-page>
        <error-code>403</error-code>
        <location>/forbidden</location>
    </error-page>

    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>by.maribo.java_beans_handbook.structure.controller.Controller</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/java_beans</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServerError</servlet-name>
        <jsp-file>/WEB-INF/jsp/error/serverError.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServerError</servlet-name>
        <url-pattern>/serverError</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Forbidden</servlet-name>
        <jsp-file>/WEB-INF/jsp/error/forbidden.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Forbidden</servlet-name>
        <url-pattern>/forbidden</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Main</servlet-name>
        <jsp-file>/pages/information.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Main</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Modify</servlet-name>
        <jsp-file>/pages/modifying.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Modify</servlet-name>
        <url-pattern>/modify</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NotFound</servlet-name>
        <jsp-file>/WEB-INF/jsp/error/pageNotFound.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>NotFound</servlet-name>
        <url-pattern>/pageNotFound</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>CharsetFilter</filter-name>
        <filter-class>by.maribo.java_beans_handbook.structure.filter.CharsetFilter</filter-class>
        <init-param>
            <param-name>pageEncoding</param-name>
            <param-value>utf-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CharsetFilter</filter-name>
        <url-pattern>/java_beans</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>NoCacheFilter</filter-name>
        <filter-class>by.maribo.java_beans_handbook.structure.filter.NoCacheFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>NoCacheFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>Access</filter-name>
        <filter-class>by.maribo.java_beans_handbook.structure.filter.Access</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Access</filter-name>
        <url-pattern>/java_beans</url-pattern>
    </filter-mapping>

    <context-param>
        <param-name>log4j-config-location</param-name>
        <param-value>WEB-INF/classes/log4j.properties</param-value>
    </context-param>
</web-app>